<!--Name: Adityasinh Makwana-->
<!--Sudent id: 301175966-->
<!--COMP229_002-->
<!--Date 09 Feb 2023-->

<%-include partials/header.ejs%>
  <!--main nav navigation-->
  <%-include partials/main_nav.ejs%>
  
  <main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> Page</h1><br><br>
    <a style="font-size: large;">Thankyou for visiting my page </a><br>
    <a style="font-size: large;"> Click the button bellow and find out more about me</a><br>
    <button type="button" class="btn btn-dark" onclick="window.location.href='/about'">About Me</button>
  </div>
</main>
<%-include partials/bottom_nav.ejs%>

  <!--<h1><%= title %></h1>--> 
  <!--<p>Welcome to <%= title %></p>-->
  <!--script section-->
<%-include partials/footer.ejs%> 
