<!--Name: Adityasinh Makwana-->
<!--Sudent id: 301175966-->
<!--COMP229_002-->
<!--Date 09 Feb 2023-->

<%-include partials/header.ejs%>
  <!--main nav navigation-->
  <%-include partials/main_nav.ejs%>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> <%= title %>  </h1><br><br>
      <h5>Projects</h5>
      <ul>
        <li>C# software<br>
          <img style="height: 300px; width: 600px" src="/Assets/images/project1.png"/> 

        </li>
      </ul>

    </div>
</main>


<%-include partials/bottom_nav.ejs%>

<!--<h1><%= title %></h1>--> 
<!--<p>Welcome to <%= title %></p>-->
<!--script section-->
<%-include partials/footer.ejs%> 
