<!--Name: Adityasinh Makwana-->
<!--Sudent id: 301175966-->
<!--COMP229_002-->
<!--Date 09 Feb 2023-->

<%-include partials/header.ejs%>
  <!--main nav navigation-->
  <%-include partials/main_nav.ejs%>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> <%= title %>  </h1><br><br>
      <h5>Services offered</h5>
      <ul>
        <li>
          Web Development<br>
           <img style="height:200px; width: 350px;" src="/Assets/images/web_development.png"/>
          </li>
          <br>
        <li>
          Database<br>
          <img style="height:200px; width: 350px;" src="/Assets/images/database.png"/>
        </li>
        <br>
        <li>
          Software Development<br>
          <img style="height:200px; width: 350px;" src="/Assets/images/software.png"/>
        </li>
        <br>
        <li>
          Bugs Testing<br>
          <img style="height:200px; width: 350px;" src="/Assets/images/bugs.jpg"/>
        </li>
        <br><br><br>
      </ul>
      <br>
      <br>

    </div>
</main>


<%-include partials/bottom_nav.ejs%>

<!--<h1><%= title %></h1>--> 
<!--<p>Welcome to <%= title %></p>-->
<!--script section-->
<%-include partials/footer.ejs%> 
